@model IdentifyWeb.Models.PersonsIndexViewModels
@{
    ViewBag.Title = "Add Person";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>New Person</h4>
    <hr />
</div>
