@model IdentifyWeb.Models.ManagePersonsIndexViewModel
@{
    ViewBag.Title = "Manage";
}


<script type="text/javascript">
    
    $(document).ready(function() {
        $('#btnAddPerson').click(function() {
            document.location = '@Url.Action("AddPerson", "ManagePerson")';
        });
    });
</script>

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>


    <h4>Manage Person</h4>
    <hr/>


    @foreach (var renderAction in Model.PageRenderActions)
    {
        Html.RenderAction(renderAction.RenderAction, renderAction.RenderController, new {ids=renderAction.Ids});
    }

    <input id="btnAddPerson" type="button" value="Add Person" />

</div>
